body {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
}

.container {
        width: 85%;
        min-width: 400px;
        margin: auto;
}

.header {
        background-color: #ff6600;
        padding: 4px;
}

.header > .nav-item {
        padding: 0px 4px;
}

.header > .nav-item.header {
        font-weight: bold;
}

.header > .nav-item.active {
        color: #fff;
}

.header > span > a {
        color: #000;
        text-decoration: none;
}
    
.content {
        background-color: #f6f6ef;
        

        display: -webkit-flex;
        display: flex;
        flex-direction: column;
}

.content > .item-container {
        padding: 5px 10px;
}

.content > .item-container > .rank {
        color: #828282;
        float: left;
        padding-top: 3px;
}

.content > .item-container > .item-content {
        float: left;
}

.content > .item-container > .item-content > .item-head{
        font-size: 13px;
        padding: 3px;
}

.content > .item-container > .item-content > .item-info{
        font-size: 9px;
        color: #828282;
        padding: 1px;
}

.footer {
        border-top: solid 1px #ff6600;
        background-color: #f6f6ef;
        text-align: center;
}