body {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
}

.container {
        width: 85%;
        min-width: 400px;
        margin: auto;
}

.header {
        background-color: #ff6600;
        padding: 4px;
}

.header > .nav-item {
        padding: 0px 4px;
}

.header > .nav-item.header {
        font-weight: bold;
}

.header > .nav-item.active {
        color: #fff;
}

.arrow-up {
  width: 0; 
  height: 0; 
  float:left;
  margin-top: 8px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 7px solid grey;
  display: inline-block;
}

.header > span > a {
        color: #000;
        text-decoration: none;
}
    
.content {
        background-color: #f6f6ef;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
}

.content > .item-container {
        padding: 5px 10px;
}

.content > .item-container > .rank {
        color: #828282;
        float: left;
        padding-top: 3px;
}

.content > .item-container > .item-content {
        float: left;

}

.content > .item-container > .item-content > .item-head {
        font-size: 13px;
        padding: 3px;
}

.content > .item-container > .item-content > .item-head > .title {
        font-size: 13px;
        padding: 3px;
}

.content > .item-container> .item-content > .item-info {
        font-size: 9px;
        color: #828282;
        padding: 1px;
        margin-left: 3px;
}

.content > .item-container > .item-content > .item-comment {
        float: left;
        margin-left: 5px;
        
}
.content > .item-parent {
        padding: 5px 10px;
}


.content > .item-parent > .item-content {
        margin-left: 3px;
        float: left;
        max-width: 97%;
}

.content > .item-parent > .item-content > .item-head {
        font-size: 13px;
        padding: 3px;
}

.content > .item-parent > .item-content > .item-info {
        font-size: 9px;
        color: #828282;
        padding: 1px;
        margin-bottom: 4px;
}

.content > .item-parent > .item-content > .item-comment {
        margin-left: 5px;
        padding: 1px;
        margin-bottom: 4px;
}


.content > .item-parent > .item-kid {
        padding: 5px 10px;
        margin-left: 70px;
}


.content > .item-parent > .item-kid > .item-content {
        float:right;
}

.content > .item-parent  > .item-kid > .item-content > .item-head {
       
        font-size: 13px;
}

.content > .item-parent > .item-kid > .item-content > .item-info {
        margin: 7px 0px 4px 12px;
        font-size: 9px;
        color: #828282;
        padding: 1px;
}

.content > .item-parent > .item-kid > .item-content > .item-comment {
        margin-left: 5px;
        padding: 1px;
        margin-bottom: 4px;
}

.content > .item-parent > .item-kid > .item-kid {
        padding: 5px 10px;
        max-width: 80%;
        margin-left: 70px;
}

.content > .item-parent > .item-kid > .item-kid > .item-content {
        float:left;
}

.content > .item-parent > .item-kid  > .item-kid > .item-content > .item-head {
       
        font-size: 13px;

}

.content > .item-parent > .item-kid > .item-kid > .item-content > .item-info {
        margin: 7px 0px 4px 12px;
        font-size: 9px;
        color: #828282;
        padding: 1px;
}

.content > .item-parent > .item-kid  > .item-kid > .item-content > .item-comment {
        margin-left: 5px;
        padding: 1px;
        margin-bottom: 4px;
}

.footer {
    border-top: solid 1px #ff6600;
    background-color: #f6f6ef;
    text-align: center;
}